@charset "utf-8";

html,
body,
div,
p,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
select,
button,
textarea,
iframe,
table,
th,
td {
    margin: 0px;
    padding: 0px;
}


/* 容器 */

.container-static {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 1024px) {
    /* 浏览器宽度不大于1024px时 */
    .container-static {
        width: 1024px
    }
}

.container-static > .row {
    width: 1024px;
    margin-left: 0px;
    margin-right: 0px;
}

.has-error {
    color: #fd5f39;
}

.has-error textarea.form-control,
.has-error input.form-control,
input.has-error {
    border-color: #ff4351;
}

.has-error textarea.form-control:focus,
.has-error input.form-control:focus,
input.has-error:focus {
    border-color: #f00;
}

ul {
    list-style-type: none;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}
